@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.checkbox {
    width: 20px; /* Adjust the size as needed */
    height: 17px;
    margin-top: 2px;
    border-radius: 50%;
    border: 1px solid #000; /* You can adjust the border styles */
    display: inline-block;
    margin-right: 5px; /* Add some spacing between the checkbox and the task text */
  }
  
  .checkbox-checked {
    text-decoration: line-through;
  }

  .main{
    position: absolute;
    top: 10%;
    left: 40%;
  }